[project]
	description = The Popit.com Server Application, written in PHP.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Claude (baboofei)
[access "refs/for/refs/*"]
	read = group user/Claude (baboofei)
	push = group user/Claude (baboofei)
	label-Code-Review = -2..+2 group user/Claude (baboofei)
	label-Verified = -1..+1 group user/Claude (baboofei)
	rebase = group user/Claude (baboofei)
	removeReviewer = group user/Claude (baboofei)
	submit = group user/Claude (baboofei)
[access "refs/heads/*"]
	read = group user/Claude (baboofei)
	create = group user/Claude (baboofei)
	push = +force group user/Claude (baboofei)
	pushMerge = group user/Claude (baboofei)
[access "refs/tags/*"]
	push = +force group user/Claude (baboofei)
	pushTag = group user/Claude (baboofei)
	pushSignedTag = group user/Claude (baboofei)
